*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background-image:url("images/code.jpeg");
    background-size: cover;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
}

.sticky{
    position:sticky;
    top:0;
}
.nav-bar{
    background-color:black;
    
}

.menu{
    background:red;
}

.item-menu{
    list-style:none;
    padding:10px;
}

.image-logo{
    width:5%;
}
.logo{
    text-decoration:none;
    padding:10px;
}
.logo:hover{
    background-color:blue;
}
.item-menu:hover{
    background-color:blue;
}
.link-menu {
    text-decoration: none;
}

/* Banner */

.container{
    width:90%;
    margin:auto;
}
.image-me{
    border-radius:100%;
    width:100%;
}
.shadow{
    width:100%;
    background-color:black;
    margin:auto;
    border-radius:50%;
    box-shadow: 5px 5px 5px black;
}

.dev-skills {
    margin-top:2.5rem;
}
.image-skill{
    width:100%;
    margin:20px;
}

.skills{
    margin:auto;
    width: 60%;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}

.box-skill{
    width:33.33%;
    display:flex;
    align-items: center;
    justify-content:center;
}

/*main-section*/

.container-2{
width:80%;
margin:auto;
}

.codes{
width:100%;
border-radius: 2rem;
box-shadow: 5px 5px 5px black;
border:groove; 
height:69%;
}
.rasta-code{
    width:100%;
    border-radius:2rem;
    box-shadow:5px 5px 5px black;
    border:groove;
   
}
.description{
padding:16px;
border:solid;
margin:2rem;
border-radius:2rem;
box-shadow: 5px 5px 5px black;

}

.description-2{
    padding:16px;
    border:solid;
   margin:2rem;
    border-radius:2rem;
    box-shadow: 5px 5px 5px black;


}

/*SECTION 3*/




/*FOOTER*/

.footer{
    padding:10px;
    background-color:black;
}

/*Helpers*/

.text-align-center{
    text-align:center;

}
.display-flex{
    display:flex;
}

.align-items-center{
    align-items: center;
}
.justify-content-space-between{
    justify-content:space-between;
}

