
/*Menu*/
.btn {
    display:none;
}

@media screen and (max-width:720px){
    .btn{
        display:block;
    }

    .menu{
        display:none;
    }
}


/*banner*/

@media screen and (max-width:720px){

    .banner {
        margin:auto;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
    }

    .col-md-12{
        width:100%;    
    }

    .shadow{
        margin-top:1rem;
    }
    
   .image-me{     
        width:100%;
        
    }
    .skills{
    width:100%;
    margin:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}

.css-image{
    width:75%;
}

.js-image{
width:110%;
}

.git-hub-image{
    width:140%;
}

    .box-skill{
    width:20%;
    
}
    .image-language{
        width:100%;
    }

   .responsive-design-skills{
       margin:auto;
       margin-top:1.2rem
   }  
}

/*Main Section*/

@media screen and (max-width:540px){

    .container-2{
        width:100%;

    }

    .main-section{
        display: flex;
       flex-wrap:wrap;
       justify-content:center;
       align-content:center;
       align-items: center;
    }

    .item {
        flex-basis:100%;
    }
   
    
}