
/*Menu*/
.btn {
    display:none;
}

@media screen and (max-width:720px){
    .btn{
        display:block;
    }

    .menu{
        display:none;
    }
}

/*Main Section*/
/*images-languages*/

@media screen and (max-width:720px){

    .main-section {
        margin:auto;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
    }
    
    .col-md-12{
        width:100%;    
    }
    
   .image-me{     
        width:100%;
    }
    .skills{
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.box-skill{
    width:100%;
    
}
    .image-language{
        width:100%;
    }

    .display-none{
        display:none;
    }
   
}

